*{
    margin: 0;
    padding: 0;
}
body{
    background:url(https://sm.ign.com/ign_br/tv/o/one-piece-/one-piece-2_1xby.jpg)
}
img{
   filter: contrast(0.25);
}
#text{
    margin-top: 70vh;
    margin-left: 5vw;
    width: 600px;
    color: white;
}

h3{
    text-align: justify;
    width: 500px;
}

#controller{
    position: fixed;
    top: 0vh;
    left: 70vw;
    width: 200px;
    height: 100vh;
    background: rgba(000, 000, 000, 0.6);
}